body {
    background-color: rgb(181, 192, 181);
  }
  
  h3 {
    background-color: rgb(77, 112, 77);
    text-align: left;
    font-family: Verdana, sans-serif
  }
  
  p {
    font-family: Verdana, sans-serif;
  }

  footer {
    text-align: center;
    font-family: Verdana, sans-serif
  }
  #collegebanner {
    margin: 25px 200px 75px;
    border: 1px solid black;
    margin: 25px 200px 75px;
    background-color: rgb(109, 142, 109);
  }

  #textEvaluation {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Verdana, sans-serif
  }
  #BannerHeader {
    text-align: center;
  }

  form {
    font-family: Verdana, sans-serif;
  }

  #link1 {
    text-align: left;
    margin-right: 5em;
    font-family: Verdana, sans-serif
  }

  #link2 {
    text-align: right;
    font-family: Verdana, sans-serif
  }

  #link3 {
    text-align: left;
    margin-right: 10em;
    font-family: Verdana, sans-serif
  }
